<!DOCTYPE html>
<html lang="{{ translation[0] }}">

<head>
    {% include 'HEAD.html' %}
    <title>{{ translation[15] }} | {{ translation[17] }}</title>
</head>
<body>
<div class="container">
    <div id="maintext" class="fuarhead">
        <h3 >{% if session['language'] == 0 %}
            2022 Light + Building Fuarına tarihleri arasında Katılım Sağladık.
            {% else %}
            As DTM ELEKTROTEKNİK, we have completed the 2022 Light + Building Fair in the best way. We
            would like to thank all visitors and participants who visited our stand.
            {% endif %}</h3><br><br>
            <section class="gallery mb-3">
                <div class="gallery__item">
                  <input type="radio" id="img-1" checked name="gallery" class="gallery__selector"/>
                  <img class="gallery__img" src="../static/img/news/light2022/2022light1.png" alt=""/>
                  <label for="img-1" class="gallery__thumb">
                    <img src="../static/img/news/light2022/2022light1mini.png" alt=""/></label>
                </div>
                <div class="gallery__item">
                  <input type="radio" id="img-2" name="gallery" class="gallery__selector"/>
                  <img class="gallery__img" src="../static/img/news/light2022/2022light2.png" alt=""/>
                  <label for="img-2" class="gallery__thumb">
                    <img src="../static/img/news/light2022/2022light2mini.png" alt=""/></label>
                </div>
                <div class="gallery__item">
                  <input type="radio" id="img-3" name="gallery" class="gallery__selector"/>
                  <img class="gallery__img" src="../static/img/news/light2022/2022light3.png" alt=""/>
                  <label for="img-3" class="gallery__thumb">
                    <img src="../static/img/news/light2022/2022light3mini.png" alt=""/></label>
                </div>
                <div class="gallery__item">
                  <input type="radio" id="img-4" name="gallery" class="gallery__selector"/>
                  <img class="gallery__img" src="../static/img/news/light2022/2022light4.png" alt=""/>
                  <label for="img-4" class="gallery__thumb">
                    <img src="../static/img/news/light2022/2022light4mini.png" alt=""/></label>
                </div>
            </section>
    </div>
</div>
{% include 'FOOT.html' %}
</body>