<!DOCTYPE html>
<html lang="{{ translation[0] }}">

<head>
    {% include 'HEAD.html' %}
    <title>{{ translation[14] }} | {{ translation[17] }}</title>
</head>

<body>
    {% include 'nav.html' %}
    <div class="row align-items-center  text-center" id="certification">
        <div class="cert1">
            <div class="cert2">
                <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iste ipsum molestiae tenetur ab!
                    Reiciendis quasi ipsam exercitationem veniam quos nobis, harum enim non sunt, consectetur deleniti
                    vel praesentium dolorum.</p>
            </div>

        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Türk Standardlarına Uygunluk Belgesi<br>008848-TSE-02/06 </b></h5>
            <img src="../static/img/certificates/certificatedisplay1.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>ISO 9001:2015</b></h5>
            <img src="../static/img/certificates/certificatedisplay2.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>EN 61439-6</b></h5>
            <img src="../static/img/certificates/certificatedisplay3.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>G-Certi<br>ISO/IEC 27001:2013 </b></h5>
            <img src="../static/img/certificates/certificatedisplay4.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate5 </b></h5>
            <img src="../static/img/certificates/certificatedisplay5.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate6 </b></h5>
            <img src="../static/img/certificates/certificatedisplay6.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate7 </b></h5>
            <img src="../static/img/certificates/certificatedisplay7.jpg" width="190" height="200" alt="">
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12 bottom cerc-alt">
            <h5><b>Certificate9 </b></h5>
            <img src="../static/img/certificates/certificatedisplay9.jpg" width="190" height="200" alt="">
        </div>
    </div>
    {% include 'FOOT.html' %}
</body>

</html>